
<li class="nav-item">
    <a href="{{ path('app_conseiller_rapporteur') }}" class="nav-link" data-key="t-analytics">
        <i class="ri-folder-add-fill"></i>
        Dossiers ouverts

    </a>
</li>
<li class="nav-item">
    <a href="{{ path('app_conseiller_rapporteur_liste_mesures_instructions') }}" class="nav-link" data-key="t-analytics">
        <i class="ri-folder-add-fill"></i>
        Mesures d'instruction

    </a>
</li>
<li class="nav-item">
    <a href="{{ path('cr_conclusion_parquet') }}" class="nav-link" data-key="t-analytics">
        <i class="ri-folder-add-fill"></i>
        Conclusions du parquet

    </a>
</li>
<li class="nav-item">
    <a href="{{ path('admin_arret_list') }}" class="nav-link" data-key="t-analytics">
        <i class="ri-folder-add-fill"></i>
        Les arrêts

    </a>
</li>

<li class="nav-item">
    <a href="{{ path('app_audience_liste') }}" class="nav-link" data-key="t-analytics">
        <i class="ri-folder-add-fill"></i>
       les audiences Programmées

    </a>
</li>


<li class="nav-item">
    <a href="#" class="nav-link" data-key="t-analytics">
        <i class="ri-folder-add-fill"></i>
        Dossier en attente d'arrêts

    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link" data-key="t-analytics">
        <i class="ri-folder-add-fill"></i>
        Dossier en attente de délibération

    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link" data-key="t-analytics">
        <i class="ri-folder-add-fill"></i>
       Dossier Vides

    </a>
</li>
<li class="nav-item">
    <a href="{{ path('rapport_index') }}" class="nav-link" data-key="t-analytics">
        <i class="ri-folder-add-fill"></i>
       Rapports générés

    </a>
</li>

