<li class="nav-item">
    <a href="{{ path('greffier_en_d_ouverture') }}" class="nav-link" data-key="t-analytics">
        <i class="ri-folder-add-fill"></i>
        Recours affectés pour ouverture

    </a>
</li>
<li class="nav-item">
    <a href="{{ path('greffier_dossier_open_list') }}" class="nav-link" data-key="t-analytics">
        <i class="ri-folder-add-fill"></i>
        Liste des dossiers ouverts

    </a>
</li>

<li class="nav-item">
    <a href="{{ path('greffier_dossier_conclusion_parquet') }}" class="nav-link" data-key="t-analytics">
        <i class="ri-folder-add-fill"></i>
       Dossiers pour avis des parties
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('greffier_publie_calendrier') }}" class="nav-link" data-key="t-analytics">
        <i class="ri-folder-add-fill"></i>
        Publier un calendrier

    </a>
</li>
<li class="nav-item">
    <a href="{{ path('greffier_recours_list') }}" class="nav-link" data-key="t-analytics">
        <i class="ri-folder-add-fill"></i>
        Liste des recours

    </a>
</li>
<li class="nav-item">
    <a href="{{ path('admin_arret_list_new') }}" class="nav-link" data-key="t-analytics">
        <i class="ri-folder-add-fill"></i>
        Liste des arrêts

    </a>
</li>



{#<li class="nav-item">#}
{#    <a href="{{ path('greffier_audience_liste') }}" class="nav-link" data-key="t-analytics">#}
{#        <i class="ri-folder-add-fill"></i>#}
{#        Liste des audiences Programmées#}

{#    </a>#}
{#</li>#}
{#<li class="nav-item">#}
{#    <a href="{{ path('app_audience_new') }}" class="nav-link" data-key="t-analytics">#}
{#        <i class="ri-folder-add-fill"></i>#}
{#        Programmer une audience#}

{#    </a>#}
{#</li>#}

{#<li class="nav-item">#}
{#    <a href="#" class="nav-link" data-key="t-analytics">#}
{#        <i class="ri-folder-add-fill"></i>#}
{#        Liste des mesures d'instruction#}

{#    </a>#}
{#</li>#}

{#<li class="nav-item">#}
{#    <a href="#" class="nav-link" data-key="t-analytics">#}
{#        <i class="ri-folder-add-fill"></i>#}
{#        dossier en attente d'arrêts#}

{#    </a>#}
{#</li>#}
{#<li class="nav-item">#}
{#    <a href="#" class="nav-link" data-key="t-analytics">#}
{#        <i class="ri-folder-add-fill"></i>#}
{#        Dossier en attente de délibération#}

{#    </a>#}
{#</li>#}
{#<li class="nav-item">#}
{#    <a href="#" class="nav-link" data-key="t-analytics">#}
{#        <i class="ri-folder-add-fill"></i>#}
{#       Dossier Vide#}

{#    </a>#}
{#</li>#}
