<li class="nav-item">
    <a href="{{ path('app_dossier_new_requerant') }}" class="nav-link" data-key="t-analytics">
        <i class="ri-folder-add-fill"></i> <span data-key="t-dashboards">Nouveau recours </span>
    </a>
</li>
<li class="nav-item">
    <a href="{{ path('greffier_demande_ligne') }}" class="nav-link" data-key="t-analytics">
        <i class="ri-folder-add-fill"></i> <span data-key="t-dashboards">Les recours en ligne </span>
    </a>
</li>
<li class="nav-item">

    <a href="{{ path('app_dossier_index') }}" class="nav-link">
        <i class="ri-folder-add-fill"></i> <span data-key="t-dashboards">Les recours internes</span>
    </a>


</li>
<li class="nav-item">
    <a href="{{ path('app_dossier_open_list') }}" class="nav-link" data-key="t-analytics">
        <i class="ri-folder-add-fill"></i>
        Dossiers ouverts

    </a>
</li>
<li class="nav-item">
    <a href="{{ path('admin_arret_list') }}" class="nav-link" data-key="t-analytics">
        <i class="ri-folder-add-fill"></i>
        Les arrêts

    </a>
</li>

<li class="nav-item">
    <a href="{{ path('app_audience_liste') }}" class="nav-link" data-key="t-analytics">
        <i class="ri-folder-add-fill"></i>
      Audiences Programmées

    </a>
</li>
