<li class="nav-item">
    <a href="{{ path('paquet_general_index') }}" class="nav-link" data-key="t-analytics">
        <i class="ri-folder-add-fill"></i>
        Liste des dossiers

    </a>
</li>
<li class="nav-item">
    <a href="{{ path('paquet_general_affectation_pc_index') }}" class="nav-link" data-key="t-analytics">
        <i class="ri-folder-add-fill"></i>
        Dossier à transmettre au PC

    </a>
</li>
<li class="nav-item">
    <a href="{{ path('pg_mesures_instructions_dossier_list') }}" class="nav-link" data-key="t-analytics">
        <i class="ri-folder-add-fill"></i>
        Liste des mesures instructions

    </a>
</li>

{#<li class="nav-item">#}
{#    <a class="nav-link menu-link" href="{{ path('app_dossier_affectations_list') }}" data-key="t-crypto" data-bs-toggle="collapse" role="button">#}
{#        <i class="ri-folder-add-fill"></i> <span data-key="t-dashboards">Affectation</span> </a>#}
{#    <div class="collapse menu-dropdown" id="sidebarDashboards">#}
{#        <ul class="nav nav-sm flex-column">#}
{#            <li class="nav-item">#}
{#                <a href="{{ path('app_dossier_affectations_list') }}" class="nav-link" data-key="t-analytics"> Nouvelle Affectation </a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#                <a href="{{ path('admin_affectation_all') }}" class="nav-link" data-key="t-crm"> Toutes les affectations</a>#}
{#            </li>#}


{#        </ul>#}
{#    </div>#}
{#</li>#}
{#<li class="nav-item">#}
{#    <a href="#" class="nav-link" data-key="t-analytics">#}
{#        <i class="ri-folder-add-fill"></i>#}
{#      Rédiger Rapport#}

{#    </a>#}
{#</li>#}


