{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">
                        Liste des mesures d'instructions ({{ dossier.referenceDossier }})<br> <br>
                        {% include 'partials/_intitule_dossier.html.twig' %}
                    </h4>
                </div><div class="card-body">
                    <div class="data_table mt-3 mb-1">
                        <table class="table align-middle table-nowrap">
                            <thead class="table-light">
                                <tr>
                                    <th class="sort"></th>
                                    <th class="sort" data-sort="customer_name">Mesures</th>
                                    <th class="sort" data-sort="email">Parties</th>
                                    <th class="sort" data-sort="phone">Délai</th>
                                    <th class="sort" data-sort="date">Etat</th>
                                    <th class="sort" data-sort="action">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for mesure in mesures %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td class="customer_name">{{ mesure.instruction.libelle }}</td>
                                        <td class="customer_name">{{ mesure.partiesConcernes }}</td>
                                        <td class="email">{{ mesure.delais }} Jours</td>
                                        <td class="email">
                                            {% if mesure.reponses %}
                                                Débutée
                                                {% if mesure.reponses.dateNotification %}
                                                    <br> et notifié le <br>
                                                    {{ mesure.reponses.dateNotification | date('d-m-Y') }}
                                                {% else %}
                                                    <br> non notifiée à la partie concernée
                                                {% endif %}
                                            {% else %}
                                                Non débutée
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-soft-secondary btn-sm dropdown" type="button"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="ri-more-fill"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                    <li>
                                                        <a class="dropdown-item" href="{{ path('greffier_rapporteur_mesures_instructions_reponse_show',{'id':mesure.id}) }}">
                                                            <i class="ri-eye-fill align-bottom me-2 text-muted"></i>
                                                            Détails de la mesure d'instruction
                                                        </a>
                                                    </li>
                                                    {% if is_granted('ROLE_GREFFIER') or is_granted('ROLE_GREFFIER_EN_CHEF') %}
                                                        {% if mesure.reponses %}
                                                            <li>
                                                                <a class="dropdown-item" href="{{ path('greffier_rapporteur_mesures_instructions_reponse_edit',{'id':mesure.reponses.id}) }}">
                                                                    <i class="ri-pencil-fill align-bottom me-2 text-muted"></i>
                                                                    Compléter ma réponse
                                                                </a>
                                                            </li>
                                                        {% else %}
                                                            <li>
                                                                <a class="dropdown-item"
                                                                   href="{{ path('greffier_rapporteur_mesures_instructions_reponse',{'id':mesure.id}) }}">
                                                                    <i class="ri-edit-2-fill align-bottom me-2 text-muted"></i>
                                                                    Répondre
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                    {% endif %}
                                                    <li class="dropdown-divider"> </li>
                                                    <li>
                                                        <a class="dropdown-item" href="{{ path('admin_dossier_details',{'id':mesure.dossier.id}) }}">
                                                            <i class="ri-file-text-fill align-bottom me-2 text-muted"></i>
                                                            Détails du dossier
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}