{% extends 'base.html.twig' %}

{% block title %}Liste des Requêtes{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">Liste des {{ nombre }} requêtes de {{ date_debut|date('d-m-Y') }} à {{ date_fin|date('d-m-Y')}} </h4>
                </div><!-- end card header -->

                <div class="card-body">
                    <div id="customerList">


                        <div class="table-responsive table-card mt-3 mb-1">
                            {% if dossiers|length > 0 %}
                                <table class="table align-middle table-nowrap" id="customerTable">
                                    <thead class="table-light">
                                    <tr>
                                        <th class="sort"></th>
                                        <th class="sort" data-sort="customer_name">N°enre</th>
                                        <th class="sort" data-sort="email">Date enr</th>
                                        <th class="sort" data-sort="email">Structure</th>
                                        <th class="sort" data-sort="phone">Réquerant</th>
                                        <th class="sort" data-sort="phone">Téléphone réquerant</th>
                                        <th class="sort" data-sort="date">Defendeur</th>
                                        <th class="sort" data-sort="phone">Téléphone du defendeur</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for dossier in dossiers %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td class="customer_name">{{ dossier.referenceEnregistrement }}</td>
                                            <td class="email">{{ dossier.dateEnregistrement ? dossier.dateEnregistrement|date('Y-m-d') : '' }}</td>
                                            <td class="email">{{ dossier.structure.name }}</td>
                                            <td class="email">

                                                {% if dossier.requerant.type =='moral' %}

                                                    {{ dossier.requerant.intitule }}
                                                {% else %}

                                                    {{ dossier.requerant.nom ~" "~ dossier.requerant.prenoms }}
                                                {% endif %}

                                            </td>
                                            <td class="email">{{ dossier.requerant.Telephone }}</td>
                                            <td class="email">
                                                {% if dossier.defendeur.type =='moral' %}
                                                    {{ dossier.defendeur.intitule }}

                                                {% else %}
                                                    {{ dossier.defendeur.nom ~" "~ dossier.defendeur.prenoms }}
                                                {% endif %}
                                               </td>
                                            <td class="email">{{ dossier.defendeur.telephone }}</td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="noresult">
                                    <div class="text-center">
                                        <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop"
                                                   colors="primary:#121331,secondary:#08a88a"
                                                   style="width:75px;height:75px">
                                        </lord-icon>
                                        <h5 class="mt-2">Aucunes données pour l'instant</h5>
                                        {#                                       <p class="text-muted mb-0">We've searched more than 150+ Orders We did not find any#}
                                        {#                                           orders for you search.</p>#}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
