{% extends 'base.html.twig' %}

{% block title %}AffecterStructure index{% endblock %}

{% block body %}
    <h1>AffecterStructure index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateAffection</th>
                <th>Motif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for affecter_structure in affecter_structures %}
            <tr>
                <td>{{ affecter_structure.id }}</td>
                <td>{{ affecter_structure.dateAffection ? affecter_structure.dateAffection|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ affecter_structure.motif }}</td>
                <td>
                    <a href="{{ path('app_affecter_structure_show', {'id': affecter_structure.id}) }}">show</a>
                    <a href="{{ path('app_affecter_structure_edit', {'id': affecter_structure.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_affecter_structure_new') }}">Create new</a>
{% endblock %}
