{% extends 'base.html.twig' %}

{% block title %}New AffecterStructure{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0"> Envoi des conclusions du dossier {{ dossier.referenceDossier }} du parquet general au president de la {{ structure.name }}</h4>
            </div><!-- end card header -->

            <div class="card-body">
                <div class="mb-5">
                {{ include('affecter_structure/_form.html.twig') }}
                </div>
                <div class="mt-5  alert  alert-border-left alert-dismissible fade show material-shadow" role="alert">
                    <a href="{{  dossier.piecesDoc[0].rapportFichier  }}" target="_blank">
                    <h6> Voir le rapport de l'avocat general  </h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/jquery-3.6.0.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="{{ asset('libs/tinymce/js/tinymce/tinymce.min.js') }}"></script>
<script>
    tinymce.init({
        selector: '#retour_affecter_structure_motifa',

        plugins: ['autolink', 'codesample', 'link', 'lists',
            'media', 'powerpaste', 'table', 'image',
            'quickbars', 'codesample', 'help']
    });
</script>
<script>
{% endblock %}
