<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable" data-theme="default" data-theme-colors="default">

<head>

    <meta charset="utf-8" />
    <title>Plateforme de Gestion des requêtes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{{ asset('assets/images/favicon.ico') }}">

    <!--Swiper slider css-->
    <link href="{{ asset('assets/libs/swiper/swiper-bundle.min.css') }}" rel="stylesheet" type="text/css" />

    <!-- Layout config Js -->
    <script src="{{ asset('js/layout.js') }}"></script>
    <!-- Bootstrap Css -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{{ asset('css/icons.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{{ asset('css/app.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="{{ asset('css/custom.min.css') }}" rel="stylesheet" type="text/css" />

</head>

<body data-bs-spy="scroll" data-bs-target="#navbar-example">

<!-- Begin page -->
<div class="layout-wrapper landing">
    <nav class="navbar navbar-expand-lg navbar-landing fixed-top job-navbar" id="navbar">
        <div class="container-fluid custom-container">
            <a class="navbar-brand" href="https://coursupreme.bj">
                <img src="{{ asset('images/imbenin.png') }}" class="card-logo card-logo-dark" alt="logo dark" height="70">
{#                <img src="{{ asset('images/Coat_of_arms_of_Benin.svg') }}" class="card-logo card-logo-dark" alt="logo light" height="70" align="rigth">#}

            </a>
            <button class="navbar-toggler py-0 fs-20 text-body" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="mdi mdi-menu"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mt-2 mt-lg-0" id="navbar-example">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_index_front') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('front_requerant') }}">Nouveau Recours</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('front_recours_status') }}">Statut de mon recours</a>
                    </li>

{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#findJob">Find Jobs</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#candidates">Candidates</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="#blog">Blog</a>#}
{#                    </li>#}
                </ul>
                <!-- Déplacement de l'image ici pour l'aligner à droite -->
                <img src="{{ asset('images/Coat_of_arms_of_Benin.svg') }}"   class="card-logo card-logo-dark" alt="logo light" height="70" style="margin-left: auto;">
            </div>

{#                <div class="">#}
{#                    <a href="auth-signin-basic.html" class="btn btn-soft-primary"><i class="ri-user-3-line align-bottom me-1"></i> Login & Register</a>#}
{#                </div>#}
            </div>

        </div>
    </nav>
    <!-- end navbar -->

    <!-- start hero section -->
{#    <section class="section job-hero-section bg-light pb-0" id="hero">#}
{#        <div class="container">#}
{#            <div class="row justify-content-between align-items-center">#}

{#                <!--end col-->#}
{#                <div class="col-lg-12">#}
{#                    <div class="position-relative home-img text-center mt-12 mt-lg-0">#}



{#                        <img src="{{ asset('images/imagefront.png') }} "  alt="" class="user-img">#}


{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <!-- end row -->#}
{#        </div>#}
{#        <!-- end container -->#}
{#    </section>#}
    <section class="section job-hero-section bg-light pb-0" id="hero">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-12">
                    <div class="position-relative home-img text-center mt-12 mt-lg-0" style="height: 100vh; background-image: url('{{ asset('images/imagefront.png') }}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                        <!-- Contenu supplémentaire peut être ajouté ici -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end hero section -->

    <section class="section" id="process">

        <!--end container-->
    </section>

    <!-- start features -->
    <section class="section">
        <div class="container">
            <div class="row align-items-center justify-content-lg-between justify-content-center gy-4">

                <div class="col-lg-6">

                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end features -->

    <!-- start services -->
    <section class="section bg-light" id="categories">
        <div class="container">

            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end services -->

    <!-- start cta -->
    <section class="py-5 bg-primary position-relative">
        <div class="bg-overlay bg-overlay-pattern opacity-50"></div>
        <div class="container">

            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end cta -->

    <section class="section" id="findJob">
        <div class="container">


            <!-- end row -->

            <div class="row">


            </div>
        </div>
    </section>

    <!-- start find jobs -->
    <section class="section">
        <div class="container">
            <div class="row align-items-center gy-4">

            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end find jobs -->


    <!-- end cta -->

    <!-- Start footer -->
    <footer class="custom-footer bg-dark py-5 position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mt-4">
                    <div>
                        <div>
                            <img src="assets/images/logo-light.png" alt="logo light" height="17" />
                        </div>
                        <div class="mt-4 fs-13">
                            <p>Premium Multipurpose Admin & Dashboard Template</p>
                            <p>You can build any type of web application like eCommerce, CRM, CMS, Project management apps, Admin Panels, etc using Velzon.</p>
                            <ul class="list-inline mb-0 footer-social-link">
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="avatar-xs d-block">
                                        <div class="avatar-title rounded-circle">
                                            <i class="ri-facebook-fill"></i>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="avatar-xs d-block">
                                        <div class="avatar-title rounded-circle">
                                            <i class="ri-github-fill"></i>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="avatar-xs d-block">
                                        <div class="avatar-title rounded-circle">
                                            <i class="ri-linkedin-fill"></i>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="avatar-xs d-block">
                                        <div class="avatar-title rounded-circle">
                                            <i class="ri-google-fill"></i>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="javascript: void(0);" class="avatar-xs d-block">
                                        <div class="avatar-title rounded-circle">
                                            <i class="ri-dribbble-line"></i>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7 ms-lg-auto">
                    <div class="row">
                        <div class="col-sm-4 mt-4">
                            <h5 class="text-white mb-0">Company</h5>
                            <div class="text-muted mt-3">
                                <ul class="list-unstyled ff-secondary footer-list">
                                    <li><a href="pages-profile.html">About Us</a></li>
                                    <li><a href="pages-gallery.html">Gallery</a></li>
                                    <li><a href="pages-team.html">Team</a></li>
                                    <li><a href="pages-pricing.html">Pricing</a></li>
                                    <li><a href="pages-timeline.html">Timeline</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4 mt-4">
                            <h5 class="text-white mb-0">For Jobs</h5>
                            <div class="text-muted mt-3">
                                <ul class="list-unstyled ff-secondary footer-list">
                                    <li><a href="apps-job-lists.html">Job List</a></li>
                                    <li><a href="apps-job-application.html">application</a></li>
                                    <li><a href="apps-job-new.html">New Job</a></li>
                                    <li><a href="apps-job-companies-lists.html">Company List</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4 mt-4">
                            <h5 class="text-white mb-0">Support</h5>
                            <div class="text-muted mt-3">
                                <ul class="list-unstyled ff-secondary footer-list">
                                    <li><a href="pages-faqs.html">FAQ</a></li>
                                    <li><a href="pages-faqs.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row text-center text-sm-start align-items-center mt-5">
                <div class="col-sm-6">
                    <div>
                        <p class="copy-rights mb-0">
                            <script> document.write(new Date().getFullYear()) </script> © Velzon - Themesbrand
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end mt-3 mt-sm-0">
                        <ul class="list-inline mb-0 footer-list gap-4 fs-13">
                            <li class="list-inline-item">
                                <a href="pages-privacy-policy.html">Privacy Policy</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="pages-term-conditions.html">Terms & Conditions</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="pages-privacy-policy.html">Security</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </footer>
    <!-- end footer -->

    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-info btn-icon landing-back-top" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->

</div>
<!-- end layout wrapper -->


<!-- JAVASCRIPT -->
<script src="{{ asset('assets/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('assets/libs/simplebar/simplebar.min.js') }}"></script>
<script src="{{ asset('assets/libs/node-waves/waves.min.js') }}"></script>
<script src="{{ asset('assets/libs/feather-icons/feather.min.js') }}"></script>
<script src="{{ asset('assets/js/pages/plugins/lord-icon-2.1.0.js') }}"></script>
<script src="{{ asset('assets/js/plugins.js') }}"></script>

<!--Swiper slider js-->
<script src="{{ asset('assets/libs/swiper/swiper-bundle.min.js') }}"></script>

<!--job landing init -->
<script src="{{ asset('assets/js/pages/job-lading.init.js') }}"></script>
</body>

</html>


