{% extends 'front/front_base.html.twig' %}
{#{% extends 'front/base-front.html.twig' %}#}

        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>


        {% endblock %}
{# {% form_theme form _self %} #}


{% form_theme form 'form_theme/_form_collection_representant_requerent.html.twig' %}
{% form_theme form 'form_theme/_form_collection_conseil_requerent.html.twig' %}
{% block body %}
    <section class="section  bg-light pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            {#                                <h4 class="card-title mb-0">Enregistrement d'un recours - Informations du requérant</h4> #}
                        </div><!-- end card header -->

                        <div class="card-body">

                            {{ form_start(form, { attr: { id: 'dossier_requerant' } }) }}
                            <div class="row gy-5">
                                <div class="col-lg-3">
                                    <div class="vertical-navs-step">
                                        <div class="nav flex-column custom-nav nav-pills" role="tablist"
                                             aria-orientation="vertical">
                                            <button class="nav-link active" id="v-pills-bill-info-tab"
                                                    data-bs-toggle="pill"
                                                    data-bs-target="#v-pills-bill-info" type="button" role="tab"
                                                    aria-controls="v-pills-bill-info" aria-selected="false"
                                                    data-position="0"
                                                    tabindex="-1">
            <span class="step-title me-2">
                <i class="ri-close-circle-fill step-icon me-2"></i> Mes informations
                                                        </span>
                                            </button>
                                            <button class="nav-link" id="v-pills-bill-address-tab"
                                                    data-bs-toggle="pill"
                                                    data-bs-target="#v-pills-bill-address" type="button" role="tab"
                                                    aria-controls="v-pills-bill-address" aria-selected="true"
                                                    data-position="1">
            <span class="step-title me-2">
                <i class="ri-close-circle-fill step-icon me-2"></i> Informations Défendeur</span>
                                            </button>
                                            <button class="nav-link" id="v-pills-payment-tab" data-bs-toggle="pill"
                                                    data-bs-target="#v-pills-payment" type="button" role="tab"
                                                    aria-controls="v-pills-payment" aria-selected="false"
                                                    data-position="2"
                                                    tabindex="-1">
            <span class="step-title me-2">
                <i class="ri-close-circle-fill step-icon me-2"></i> Informations du Recours
                                                        </span>
                                            </button>
                                            <button class="nav-link" id="v-pills-finish-tab" data-bs-toggle="pill"
                                                    data-bs-target="#v-pills-finish" type="button" role="tab"
                                                    aria-controls="v-pills-finish" aria-selected="false"
                                                    data-position="3"
                                                    tabindex="-1">
            <span class="step-title me-2">
                <i class="ri-close-circle-fill step-icon me-2"></i> Résumé
                                                        </span>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- end nav -->
                                </div>
                                <div class="col-lg-9">
                                    <div>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    {{ form_row(form.requerant.type) }}
                                                </div>
                                                <div class="col-md-6 physique">
                                                    {{ form_row(form.requerant.nom) }}
                                                </div>
                                                <div class="col-md-6 physique">
                                                    {{ form_row(form.requerant.prenoms) }}
                                                </div>
                                                <div class="col-md-12 morale">
                                                    {{ form_row(form.requerant.intitule) }}
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form_row(form.requerant.Telephone) }}
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form_row(form.requerant.email) }}
                                                </div>


                                                <div class="col-md-4">
                                                    {{ form_row(form.requerant.departement) }}
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label required"
                                                               for="dossier_requerant_departement">Commune</label>
                                                        <select id="commune" name="commune_select" class="form-control linked-select"
                                                                data-target="#arrondissement"
                                                                data-source="/ajax/localite/arrondissement/id">
                                                            <option value="0">Sélectionnez votre commune</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="mb-3">
                                                        <label class="form-label required"
                                                               for="dossier_requerant_departement">Arrondissement</label>
                                                        <select id="arrondissement" name="localite_requerent"
                                                                class="form-control">
                                                            <option value="0">Sélectionnez votre arrondissement</option>
                                                        </select>
                                                    </div>

                                                </div>

                                                <div class="col-md-6  physique">
                                                    {{ form_row(form.requerant.sexe) }}
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form_row(form.requerant.adresse) }}
                                                </div>

                                                <div class="row" id="representant-subform" style="display: none;">
                                                    {#                                        {{ form_row(form.requerant.representants) }} #}
                                                    {% if form.requerant.representants1 is defined %}
                                                        <div class="col-md-6">
                                                            {{ form_row(form.requerant.representants1.nom) }}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{ form_row(form.requerant.representants1.prenom) }}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{ form_row(form.requerant.representants1.email) }}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{ form_row(form.requerant.representants1.telephone) }}
                                                        </div>
                                                        <div class="col-md-6">
                                                            {{ form_row(form.requerant.representants1.adresse) }}
                                                        </div>
                                                        {#                                            {{ form_row(form.requerant.representants1.) }} #}
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-12">
                                                    {{ form_row(form.requerant.conseiller) }}
                                                </div>
                                            </div>
                                        </div>
                                        {#                            {{ form_widget(form.requerant) }} #}
                                    </div>
                                </div>

                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-success btn-label right " onclick="saveFormData()"
                        >
                           {# <i
                                    class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>#}
                            Information
                            du Défendeur
                        </button>
                    </div>

               {# <div  class="d-flex justify-content-center my-5">

                    <button type="submit" id="next" class="btn btn-success -btn-label text-center" onclick="navigate()">
                        Suivant
                    </button>
                </div>#}

                    {{ form_end(form) }}



                    {#            {{ include('dossier/_form.html.twig') }} #}

                </div>
        </div>




    </section>

    {#    <a href="{{ path('app_dossier_index') }}">back to list</a> #}
{% endblock %}
{% block javascripts %}


  {#  <script>

        /* Navigation managenent */

        document.addEventListener("DOMContentLoaded", function() {
            // Restore form data if available
            restoreFormData();

        });

        function validateForm() {
            const form = document.getElementById("dossier_requerant");
            return form.checkValidity();  // This returns true if the form is valid, false otherwise
        }

        function navigate() {

            const form = document.getElementById("dossier_requerant");

            // Validate form before navigation
            if (!validateForm()) {
                alert("Veuillez d'abord remplir les champs du formulaire");
                return;
            }

            // Save form data to session storage before navigating
            saveFormData();
            window.location.href = "/depot-recours/infos-defendeur";
      }

      // store form data
        function saveFormData() {
            const formData = new FormData(document.getElementById("dossier_requerant"));
            for (const [name, value] of formData.entries()) {
                sessionStorage.setItem(name, value);
            }
        }

        // restore form data
        function restoreFormData() {
            const form = document.getElementById("dossier_requerant");
            for (const element of form.elements) {
                if (sessionStorage.getItem(element.name)) {
                    element.value = sessionStorage.getItem(element.name);
                }
            }
        }
        /* Navigation managenent */

    </script>#}


    <script src="{{ asset('js/pages/plugins/jquery/jquery.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
            integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>


        const form = document.getElementById('dossier_requerant');
        const form_select_sport = document.getElementById('dossier_requerant_requerant_type');
        const form_select_position = document.getElementById('representant-subform');

        const updateForm = async (data, url, method) => {
            const req = await fetch(url, {
                method: method,
                body: data,
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'charset': 'utf-8'
                }
            });

            const text = await req.text();

            return text;
        };

        const parseTextToHtml = (text) => {
            const parser = new DOMParser();
            const html = parser.parseFromString(text, 'text/html');

            return html;
        };

        const changeOptions = async (e) => {
            const requestBody = e.target.getAttribute('name') + '=' + e.target.value;
            const updateFormResponse = await updateForm(requestBody, form.getAttribute('action'), form.getAttribute('method'));
            const html = parseTextToHtml(updateFormResponse);

            // const new_form_select_position = html.getElementById('meetup_position');
            // form_select_position.innerHTML = new_form_select_position.innerHTML;

            const new_form_select_position = html.getElementById('representant-subform').innerHTML;
            form_select_position.innerHTML = new_form_select_position;
            form_select_position.style.display = 'block';

        };


        form_select_sport.addEventListener('change', (e) => changeOptions(e));
    </script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            const choixSelect = document.querySelector('#dossier_requerant_requerant_type');
            $('.morale').hide()
            $('.physique').hide()


        });

        var $typerequerent = $('#dossier_requerant_requerant_type')
        $typerequerent.change(function () {
            console.log($typerequerent.val())
            if ($typerequerent.val() == "moral") {
                $('.morale').show()
                $('.physique').hide()

            } else if ($typerequerent.val() == "physique") {
                $('.morale').hide()
                $('.physique').show()
            }

        })

        class LinkedSelect {

            /**
             * @param {HTMLSelectElement} $select
             */
            constructor($select) {
                this.$select = $select
                this.$target = document.querySelector(this.$select.dataset.target)
                this.$placeholder = this.$target.firstElementChild
                //  this.onChange = debounce(this.onChange.bind(this), 500)
                this.onChange = this.onChange.bind(this)
                this.$loader = null
                this.cache = {}
                this.$select.addEventListener('change', this.onChange)
            }

            /**
             * Se déclenche au changement de valeur d'un select
             * @param {Event} e
             */
            onChange(e) {
                if (e.target.value === '0') {

                    return
                }

                this.loadOptions(e.target.value, (options) => {
                    this.$target.innerHTML = options
                    this.$target.insertBefore(this.$placeholder, this.$target.firstChild)
                    this.$target.selectedIndex = 0
                    this.$target.style.display = null

                })
            }

            /**
             * Charge les options à partir du serveur (ou du cache)
             * @param {string} id
             * @param callback
             */
            loadOptions(id, callback) {
                if (this.cache[id]) {
                    callback(this.cache[id])
                    return
                }
                this.showLoader()
                let request = new XMLHttpRequest()
                request.open('GET', this.$select.dataset.source.replace('id', id), true)
                request.onload = () => {
                    if (request.status >= 200 && request.status < 400) {
                        let data = JSON.parse(request.responseText)
                        let options = data.reduce(function (acc, option) {
                            return acc + '<option value="' + option.value + '">' + option.label + '</option>'
                        }, '')
                        this.cache[id] = options
                        this.hideLoader()
                        callback(options)
                    } else {
                        alert('Impossible de charger la liste')
                    }
                }
                request.onerror = function () {
                    alert('Impossible de charger la liste')
                }
                request.send()
            }

            showLoader() {
                this.$loader = document.createTextNode('Chargement...')
                this.$target.parentNode.appendChild(this.$loader)
            }

            hideLoader() {
                if (this.$loader !== null) {
                    this.$loader.parentNode.removeChild(this.$loader)
                    this.$loader = null
                }
            }

        }

        let $selects = document.querySelectorAll('.linked-select')
        $selects.forEach(function ($select) {
            new LinkedSelect($select)

        })

        // conseil requerant

        $('#add-conseil-requerent').click(function () {
            // Je récupère le numéo des futurs champs que je vais créer
            const index = +$('#widgets-counter-requerent').val();

            console.log(index);

            // Je récupère le prototype des entrées (remplace /__name__/(g veut dire qu'on peut le faire plusieurs fois) par index)
            const tmpl = $('#dossier_requerant_requerant_conseiller').data('prototype').replace(/__name__/g, index);

            // J'injecte ce code au sein de la div
            $('#dossier_requerant_requerant_conseiller').append(tmpl);

            $('#widgets-counter-requerent').val(index + 1);

            // Je gère le bouton supprimer
            handleDeleteButtonsRequerent();
        })

        function updateCounterRequerent() {
            const count = +$('#dossier_requerant_requerant_conseiller div.form-group').length;

            $('#widgets-counter-requerent').val(count);
        }

        function handleDeleteButtonsRequerent() {
            $('button[data-action="delete"]').click(function () {
                const target = this.dataset.target;

                $(target).remove();
            })
        }

        updateCounterRequerent();

        handleDeleteButtonsRequerent();
    </script>
{% endblock %}
